.setpointtemp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.actualtemp {
    position: absolute;
    color: white;
    top: 190.5px;
    left: 219px;
}

.mode {
    position: absolute;
    color: white;
    top: 89px;
    left: 155px;
}