.setpointtemp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.actualtemp {
    position: absolute;
    color: white;
    top: 190.5px;
    left: 219px;
}

.heatorcool { 
    position: absolute;
    color: white;
    top: 86.5px;
    left: 158px;
}

.eco { 
    position: absolute;
    color: white;
    top: 86.5px;
    left: 165px;
}

.heatcool {
    position: absolute;
    color: white;
    top: 86.5px;
    left: 155px;
}